.olxcard{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.maincard{
    width: 25%;
    /* border: 1px solid black; */
    border-radius: 30px;
    margin: 15px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem rgb(199, 198, 198));
}
.maincard:hover{
    filter: drop-shadow(0 0 0.75rem crimson);
}
.olximage{
    /* display: flex;
    justify-content: center; */
    width: 20%;
    height: 230px;
}
.olximage img{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    flex-basis: auto;
    width: 390px;
    height: 200px;
}
.olxdetail{
    width:350px ;
    display: flex;
    justify-content: space-between;
}